*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --dark: hsl(217, 19%, 35%);
    --light: hsl(214, 17%, 51%);
}

body{
    background-color: hsl(210, 46%, 95%);
    min-height: 100vh
}
#main{
    border-radius: 1rem;
    overflow: hidden;
    margin: 3rem 2rem;
}
.main1 img{
    /* margin-bottom: 2rem; */
    width: 100%
}
.main2{
    background-color: white;
}

#main .main2-sec1{
    padding: 1rem 2rem;
}
#main .main2-sec1 h1{
    font-size: 1rem;
    letter-spacing: 1PX;
    line-height: 1.5rem;
    color: var(--dark);
    font-weight: 700;
    margin-bottom: 1.5rem;
    /* padding-bottom: 1.5rem; */
}
#main .main2-sec1 p{
    color: var(--light);
    margin-bottom: 1.5rem;
    line-height: 1.3rem;
    font-size: .81rem;
}
.main2-sec21 img{
    width: 100%;
    max-width: 3rem;
    border-radius: 50%;
}
.main2-sec21{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0 2rem;
    padding-bottom: 1rem;
}
.main2-sec21 #img-id{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
.main2-sec21 :nth-child(3){
    margin-left: auto;
    background-color: hsl(210, 46%, 95%);
    padding: .5rem;
    max-width: 2rem;
    max-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.visible .main2-sec21{
    display: none;
}

.sect1-sec22{
    /* position: absolute; */
    background-color: var(--dark);
    width: 100%;
    display: none;
    align-items: center;
    gap: 1rem;
    padding: 1.2rem 2rem;
    bottom: 0;
    left: 2rem;
    border-radius: 0 0 1rem 1rem;
}
.visible .sect1-sec22{
    display: flex;
}
.sect1-sec22 :nth-child(5){
     margin-left: auto;
}
.sect1-sec22 #share{
    background-color: var(--light);
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: .3rem;
}
#share img{
    width: 100%;
}

#img-id #name{
    color: var(--dark);
    font-weight: 700;
    font-size: .8rem;
}
#img-id #date{
    color: var(--light);
    font-size: .8rem;
}

@media (min-width: 400px) {
    main{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    
    .main1{
        max-width: 369px;
        flex-shrink: 0;
        flex-grow: 0;
    }
    .main1 img{
        height: 100%;
        margin-bottom: 0;
        flex-shrink: 0;
    }
    .main2{
        max-width: 505px;
        flex-grow: 0;
        flex-shrink: 0;
    }

    #main{
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        max-width: 60rem;
        margin: 4rem 6rem;
        background-color: #ffff;
        padding: 0;
        min-height: 18rem;
        overflow: visible;
    }
    

    #main .main2-sec1 h1{
        font-size: 1.5rem;
        padding-right: 2rem;
    }
    .selection{
        position: relative;
    }
    .main2-sec1{
        padding: 3rem;
        padding-bottom: 1rem;
    }
    
    .sect1-sec22{
        /* display: none; */
        justify-content: center;
        position: absolute;
        max-width: 13rem;
        max-height: 3rem;
        left: 22rem;
        right: 1rem;
        top: -3.5rem;
        border-radius: .4rem;
        /* display: in; */
    }
    .sect1-sec22 p{
        font-size: .7rem;
        color: white;
        letter-spacing: 2px;
    }
    .sect1-sec22 img{
        max-width: 1.2rem;
    }
    

    .visible .main2-sec21{
        display: flex;
    }
    
    .visible .sect1-sec22{
        display: flex;
    }
    .visible .sect1-sec22 #share{
        display: none;
        
    }
    .visible .arrowDown{
        width: 1rem;
        height: 1rem;
        position: absolute;
        top: 2.5rem;
        background-color: var(--dark);
        border-bottom-right-radius: 1.5rem;
        transform: rotate(-135deg);
        border-bottom
    }


}