*{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #F5D04E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main{text-align: center;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    background-color: #ffff;
    max-width: 385px;
    /*text-align: left;*/
    border-radius: 20px;
    align-items: center;
    box-shadow: 9px 9px 1px;
    border: 1px solid black;
}
#main{border-radius: 10px;
    padding-bottom: px;
}
.small img{
    width: 100%;
    max-width: 2rem;
    vertical-align: middle;
    float: left;
}
h1{
    font-size: 1.5rem;
}
#clear{font-size: .8em;}
#unclear{
    line-height: 25px;
    opacity: .8;
}
.for{
    text-align: left;
    padding-left: 10px;
}
.for *{
    padding-bottom: 15px;
}
#ler{
    display: inline-block;
    background-color: #F5D04E;
    border-radius: 5px;
    margin: 15px 0;
    font-size: .8rem;
    padding: 5px;
    font-weight: 800;
}
#name{
    display: inline-block;
    float: left;
    margin-left: 15px;
    padding-top: 8px;
}

